<div *ngIf="user" class="container-fluid">
    <div class="row">        
        <nav class="col-sm-3 col-md-2 sidebar">
            <div class="about-user">                
                <div class="image-user">
                    <img src="{{user.avatar_url}}">
                </div>
                <h1 class="name-user text-center">{{ user.name }}</h1>
                <p class="text-center">{{ user.email }}</p>
                <p class="text-center">{{ user.blog.replace('https://', '').replace('/', '') }}</p>
                <p [hidden]=!user.location class="text-center">
                    <i class="fa fa-map-marker"></i> {{ user.location }}
                </p>
                <p class="text-center">{{ user.company }}</p>                
                <p>{{ user.bio }}</p>
            </div>
            <div class="numbers">
                <span>{{ user.public_repos }}</span>                
                <span>Public Repositories</span>
            </div>
            <div class="numbers">
                <span>{{ user.public_gists }}</span>                
                <span>Public Gists</span>
            </div>
            <div class="numbers">
                <span>{{ user.followers }}</span>                
                <span>Followers</span>
            </div>
            <div class="numbers">
                <span>{{ user.following }}</span>                
                <span>Following</span>
            </div>            
            <div class="orgs">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let org of user.org_list"> 
                        <img src="{{org.avatar_url}}">
                        <div class="carousel-caption">
                            <p>{{ org.description }}</p>
                        </div>
                    </ng-template>                
                </ngb-carousel>
            </div>
            <button class="btn clean-user" (click)=cleanUser()>
                <i class="fa fa-sign-in"></i> Clean user
            </button>
        </nav>

        <main class="col-sm-9 col-md-10 content">
            <div class="row">
                <div class="col-md-9">                    
                    <div class="pagination pull-right">                        
                        <button (click)="previousPage(REPOS)" class="btn"> 
                            <i class="fa fa-chevron-left"></i>                                
                        </button>                        
                        <button (click)="nextPage(REPOS)" class="btn">
                            <i class="fa fa-chevron-right"></i>
                        </button>                        
                    </div>
                    <h2>Repositories</h2>
                    <br>
                    <div class="row">
                        <div class="col-md-3" *ngFor="let repo of user.repo_list">
                            <div class="card repo-card">   
                                <div class="card-body">
                                    <i class="fa fa-book pull-left"></i>
                                    <a href="{{ repo.html_url }}" class="goto-repo pull-right">                                        
                                        <i class="fa fa-external-link"></i>
                                    </a>
                                    <h4 class="card-title">{{ repo.name }}</h4>                                    
                                    <p class="card-text">
                                        {{ repo.description ? repo.description.substr(0,225) : '' }}
                                    </p>
                                    <ul class="repo-numbers">
                                        <li>
                                            <i class="fa fa-star"></i> {{ repo.stargazers_count }}
                                        </li>
                                        <li>
                                            <i class="fa fa-television"></i> {{ repo.watchers_count }}
                                        </li>
                                        <li>
                                            <i class="fa fa-code-fork"></i> {{ repo.forks_count }}
                                        </li>
                                        <li *ngIf="repo.private">
                                            <i class="fa fa-lock"></i>
                                        </li>                                        
                                    </ul>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pagination pull-right">                        
                        <button (click)="previousPage(FOLLOWERS)" class="btn"> 
                            <i class="fa fa-chevron-left"></i>                                
                        </button>                        
                        <button (click)="nextPage(FOLLOWERS)" class="btn">
                            <i class="fa fa-chevron-right"></i>
                        </button>                        
                    </div>
                    <h2><i class="fa fa-reply"></i> Followers</h2>
                    <div class="row follows">                        
                        <div class="col-md-12" *ngFor="let follower of user.follower_list">
                            <img src="{{follower.avatar_url}}" class="pull-left">
                            <span>{{ follower.login }}</span>
                            <a href="{{follower.html_url}}" target="_blank" class="pull-right">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="pagination pull-right">                        
                        <button (click)="previousPage(FOLLOWING)" class="btn"> 
                            <i class="fa fa-chevron-left"></i>                                
                        </button>                        
                        <button (click)="nextPage(FOLLOWING)" class="btn">
                            <i class="fa fa-chevron-right"></i>
                        </button>                        
                    </div>
                    <h2><i class="fa fa-share"></i> Following</h2>
                    <div class="row follows">                        
                        <div class="col-md-12" *ngFor="let follower of user.following_list">
                            <img src="{{follower.avatar_url}}" class="pull-left">
                            <span>{{ follower.login }}</span>
                            <a href="{{follower.html_url}}" target="_blank" class="pull-right">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>