h2 {
    font-size: 25px;
    color: #444444;    
}
.sidebar {
    background-color: #303030;
    min-height: 1080px;
}
.content {
    margin-top: 23px;
}
.about-user {    
    color: #a4a4a4;
    font-size: 15px;
}
    .name-user {    
        font-size: 26px;    
    }
    .image-user {
        margin: 0 auto;
        width: 100px;
    }
        .image-user img {            
            width: 100px;
            border-radius: 100px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
.numbers {
    text-align: center;    
}
.numbers span:nth-child(1) {
    font-size: 40px;
    display: block;
    color: #f1ff2c;
}
.numbers span:nth-child(2) {
    font-size: 12px;
    color: #a4a4a4;
}
.orgs {
    margin: 50px 10px 80px 10px;
}
    .orgs img {
        width: 100px;
        margin-left: 32%;
    }
    .orgs .carousel-caption {
        top: 95px;
        font-size: 12px;
        color: #a4a4a4;
    }
    .orgs .carousel-indicators {
        display: none !important;
    }
    .orgs .carousel-inner {
        overflow: visible !important;
    }
.follows {        
    max-height: 500px;
    margin-right: 15px;
    margin-top: 15px;
    overflow-y: scroll;
}
    .follows div[class*="col"] span{
       margin-top: 10px;
       margin-left: 10px;
       position: absolute;       
    }    
    .follows img {
        width: 40px;
        border-radius: 100px;    
        margin: 5px;    
    }
.repo-card {
    height: 176px;
    margin-bottom: 20px;
}
.repo-card .card-title{
    font-size: 15px;
}
.repo-card .card-text{
    font-size: 10px;
}
.repo-numbers {
    list-style: none; 
    padding: 0px;   
}
.repo-numbers li{
    display: inline;
    margin-right: 5px;
}
.clean-user {    
    margin-top: 40px;
    background-color: rgb(0,0,0,0);    
    margin-left: 30%;
}
.pagination button{
    background-color: #fff;
}