<div class="container-search" [ngClass]="{'hide': hideSearch}">
    <div class="input-search-box"> 
        <img src="../assets/images/github-bg.png" class="github-bg">
        <input type="text" [(ngModel)]=username class="input-search" placeholder="Github Username">
        <button type="button" (click)=findUser() class="btn button-search">
            <i class="fa fa-search"></i>
        </button>
        <span class="alert-not-found" [hidden]=!userNotFound>
            User not found <i class="fa fa-meh-o"></i>
        </span>
    </div>
</div>

<div *ngIf="showUser">
    <app-user [username]=username (userLoaded)=checkUserIsLoaded($event)></app-user>
</div>