.container-search {    
    background-color: #151515;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000;
}
@media (min-width: 900px) {
    .input-search-box {
        width: 30%;
    }
}
.input-search-box {
    margin: 0 auto;
    text-align: center;    
    margin-top: 300px;
}
.input-search {
    width: 85%;
    height: 60px;    
    border-radius: 1px;
    border-style: none;
    font-size: 25px;
    padding: 15px;   
}
.button-search {
    background-color: rgb(0, 0, 0, 0);
    margin-bottom: 16px;
}
    .button-search i{
        font-size: 40px;
    }
.hide{
    -ms-transform: translate(0px, -1000px);
    -webkit-transform: translate(0px, -1000px);
    transform: translate(0px, -1000px);    
    -webkit-transition: transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
}
.alert-not-found {    
    color: rgb(236, 72, 72);
    font-size: 15px;
}
.github-bg {
    width: 88%;
    margin-bottom: 30px;
}